@{
    ViewBag.Title = "Customers";
}

<h2>@ViewBag.Title</h2>

<table id="customer" class=" table table-bordered table-hover">
    <thead>
        <tr>
            <td><h5>Customers</h5></td>
            <td><h5>Discount Rate</h5></td>
            <td><h5>Name</h5></td>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
<a href="@Url.Action("CustomerFormModel","Customer")" class="btn btn-link btn-primary btn-lg">Be a Customer</a>

@section scripts{
    <script>
        $(document).ready(function () {
            if (window.location.href.includes("Customer/Index")) {
                urls = window.location.href.replace("Customer/Index", "api/customer");
            } else {
                urls = window.location.href.replace("Customer", "api/customer");
            }
            var table = $("#customer").DataTable({
                ajax: {

                    url: urls,

                    dataSrc: ""
                },
                columns: [
                    {
                        data: "Name",
                        render: function (data, type, customer) {
                            return "<a href='Details/" + customer.Id + "'>" + data + "</a>";
                        }

                    }, {
                        data: "MemberShipType.Name"

                    }, {

                        data: "Id",
                        render: function (data) {
                            return "<button data-customer-id='" + data + "'class='btn-link'>Delete</button>";
                        }
                    }


                ]

            });

            $("#customer").on("click", ".btn-link", function () {
                button = $(this);
                bootbox.confirm("Do You want to delete this ?", function (result) {
                    if (result) {
                        $.ajax({
                            //url: window.location.href.replace("Customer/Index", "api/customer") + button.attr("data-customer-id"),
                            url: urls + button.attr("data-customer-id"),
                            method: "DELETE",
                            error: function (xhr, status, error) {
                                var err = JSON.parse(xhr.responseText);
                                bootbox.alert(err.Message);
                            },
                            success: function () {
                                //if we use button.parents('tr').remove() then it is removed from data base but saved in datatables objects
                                table.row(button.parents("tr")).remove().draw();
                            }
                        });
                    }

                });

            });
        });


    </script>


}

